@charset "utf-8";
ys1 {
	font-family: "宋体";
	color: #F00;
}
.contentlink {
	font-family: "微软雅黑";
	font-size: 15px;
	color: #2480C2;
}
.textcontent {
	font-family: "宋体";
	font-size: 16px;
	font-weight: normal;
	color: #000;
}
.texttitle {
	font-family: "宋体";
	font-size: 18px;
	font-weight: bold;
	color: #000;
}
img {
	text-align: center;
}
